/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* default theme */
	--background-color: #202023;
	--text-color: #EEE;
	
	/* light theme */
}

body {
	font-family: 'Quicksand';
	background-color: var(--background-color);
	color: var(--text-color);
}

/* header */
